* {
  padding: 0;
  margin: 0;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  font-family: Dejavu Sans, Arial, Verdana, sans-serif;
}

body {
  height: 100%;
  /* margin: 0; */
  /* background: linear-gradient(-45deg, #ee7752, #ffcee1, #23a6d5, #23d5ab);
  background-size: 400% 430%;
  animation: gradient 15s ease infinite; */
}

html {
  height: 100%;
  /* margin: 0; */
}

.container-fluid {
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
}

.content {
  overflow-y: auto;
  flex-grow: 1;
}

.contentNavBar {
  display: flex;
  flex-grow: 1;
  overflow-y: auto;
}

.sticky-bottom {
  position: sticky;
  bottom: 0;
  z-index: 1020;
  /* Ajusta según sea necesario */
  background-color: #0f5480;
  /* Fondo para que no se superponga */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.contentNavBar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.contentNavBar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* 
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 60% 50%;
  }

  100% {
    background-position: 0% 50%;
  }

} */

/* barra de navegacion */
.menu-hor {
  background-color: rgba(107, 107, 107, 0.737) !important;
}

@media (max-width: 576px) {
  #dropdown-user {
    margin-top: 10px;
  }

}

.menu-hor>li>a {
  color: white !important;
}

.menu-hor>li>:hover {
  background-color: rgba(107, 107, 107, 0) !important;
}

.menu-hor>li:hover {
  margin-left: 10px !important;
  transition: all 100ms linear;
}

.dropdown>a>img {
  margin-left: 3px;
  width: 15px;
  height: 15px;
  transition: all 300ms linear;
}

.imgNavBarActivo {
  transform: rotate(-180deg);
  transition: all 300ms linear;
}

/* barra de navegacion */

/* home */
.container-buttons-home {
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
  width: 75%;
  height: 200px;
  margin-left: 12.5%;
  margin-top: 20px;
}

.button-home {
  width: 40%;
  height: 100%;
  border-radius: 15px;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 25px;
}

.button-home img {
  width: 100px;
  height: 100px;
  margin-top: 5px;
}

.button-home:nth-of-type(1) {
  background-color: #12E521;
  /* Primer div con clase .button-home tendrá fondo azul */
}

.button-home:nth-of-type(1) img {
  margin-top: 28px;
  transform: rotate(180deg);
}

.button-home:nth-of-type(2) {
  background-color: rgb(63, 169, 255);
  /* Segundo div con clase .button-home tendrá fondo rojo */
}

/* home */
/* container form */
.containerForm {
  width: 100%;
  background-color: #fff;
  width: 40%;
  margin: 55px auto;
  height: auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.685);
}

.form {
  width: 100%;
}

.label {
  color: black;
  font-size: 12px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input {
  border: 1px rgb(209, 209, 209) solid;
  height: 35px;
  width: 100%;
  /* Utilizar el 100% del ancho del contenedor padre */
  border-radius: 4px;
  outline: none;
}

.input-submit {
  width: 100%;
  /* Utilizar el 100% del ancho del contenedor padre */
  height: 40px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  text-align: center;
  background-color: #008afd;
  margin-top: 30px;
  /* Agregar margen superior para separar del último input */
}

.input-submit:hover {
  transition: all 200ms linear;
  transform: scale(1.02);
  cursor: pointer;
}


/* alerta */
.alerta {
  width: 50%;
  height: 500px;

  margin: 55px auto;
  border-radius: 8px;
  text-align: center;
}

.alerta img {
  width: 250px;
  height: 250px;
}

.mensaje-alerta {
  font-size: 30px;
  margin-top: 55px;

}

.buttons-alerta a {
  text-decoration: none;
}

.buttons-alerta a button {
  cursor: pointer;
  width: 40%;
  height: 35px;
  border: none;
  margin-top: 50px;
  border-radius: 5px;
  background-color: #fff;
  font-size: 15px;
}

/* alerta */


.nav>li:hover {
  /* para que se haga un hover en mi sidebar*/
  background-color: rgba(251, 250, 250, 0.128);
  border-radius: 5px;
}

.content {
  /* mi div contenido donde muestro todo*/
  margin-top: -10px !important;
}

.buscador {
  /* mi buscador */
  margin-top: 10px;
}

.table-responsive {
  /* mis tablas */
  margin-top: -15px;
  margin-bottom: -1.2%;
}

.custom-bg-primary {
  background-color: #14587f !important;
  /* Primary Blue */
}

.custom-bg-secondary {
  background-color: #2981c4 !important;
  /* Secondary Blue */
}

.custom-bg-tertiary {
  background-color: #c2e7e8 !important;
  /* Tertiary Blue */
}

.custom-bg-tertiary-alternative {
  /* background-color: #1aa5b0 !important; */
  background-color: rgb(113, 175, 179) !important;

}

.custom-bg-light {
  background-color: #d6e5fe !important;
  /*Light Blue*/
}

.custom-bg-white {
  background-color: #ffffff !important;
  /* White */
}

.custom-hover:hover {
  background-color: #2981c434 !important;
  /* Tertiary Blue */
}

/* pantalla para cargar venta */

.select2.select2-container.select2-container--default {
  width: 35%;
}

.containerProducts {
  height: 590px;
  width: 55%;
}

.containerInfo {
  height: 590px;
  width: 40%;
}

.containerProducts,
.containerInfo {

  position: relative;
  padding: 10px;
}

.custom-text-success {
  color: #30c73a !important;
}

.shadow-custom {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1),
    0 0 4px 0 rgba(0, 0, 0, 0.1),
    0 0 4px 0 rgba(0, 0, 0, 0.1),
    0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.hidden-row {
  display: none;
}

/* pantalla para cargar venta */

/* de la pantalla de cara mientras se carga la pagina */
.overlay {
  position: fixed;
  background-color: #ffffff;

  width: 100%;
  height: 100%;
  z-index: 1000;
  z-index: 1021;
  left: 0px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

/* de la pantalla de cara mientras se carga la pagina */

/* el slider  */
.offcanvas-start {
  transition-property: transform;
  transition: all .2s ease-in;
}

.offcanvas-start.show {
  opacity: 1;
  pointer-events: all;
  transform: translateX(0);
  transition: all .1s ease-in;
}

/* el slider  */